<!DOCTYPE HTML>
<html>
<head>
  <title>Eureka</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
  <div id="search-form">
  <%- include('search-form.ejs') %>
</div>

<div id="user-search">
  <p>Your search: <%= query %></p>
</div>

<% data.forEach(function (array) { %>
  <% array.forEach (function(result){ %>

    <div class="result">
      <div id="title">
        <a href="<%= result.weburl %>"><%= result.title %> ...</a>
      </div>
      <div id="description">
        <%= result.description %>
      </div>
      <div id="keywords">
        <%= result.keywords %>
      </div>
      <div id="weburl">
        <%= result.weburl %>
      </div>
      <% }) %>
      <% }) %>

    </div>

  </body>
  </html>
